apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: apps
  namespace: default
resources:
  - ./find/gateway/gateway.yaml
  - ./traefik/traefik.yaml

replacements:
- source:
    kind: ConfigMap
    name: cluster-ip
    namespace: default
    fieldPath: data.CLUSTER_IP
  targets:
  - select:
      name: traefik-ingress-service
      kind: Service
      namespace: default
    fieldPaths:
    - spec.loadBalancerIP